**/.DS_Store
__pycache__/
.checkpoint
.env
.splits
.results*
.eval_results
.patches*
.features*
data/example
heatmaps/*
*.csv
runs*/*
experiments/*
data/samples/*
stain_analysis/*
models/*
data/histo*
results/*
!results/
!results/regression_comparison/
!results/regression_comparison/figures/
*/custom/
*/aggregated*/
cache/*
*.png